<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/style.css" rel="stylesheet" type="text/css" >
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
        <h1 id="titulo1">Let's Travel: <i class='bx bxs-plane-alt'></i> Viajes a todo el mundo <i class='bx bx-world'></i></h1>
        <div id="cuadro">
            <form th:action="@{/login}" th:object="${loginForm}" method="post">
                <p id="titulo">INICIAR SESIÓN</p>
                <hr>
                <br/><br/>
                <p th:if="${invalidCredentials}" class="error">Usuario o contraseña incorrecta</p>
                <label for="username" id="subtitulo1">Usuario</label>
                <br/><br/>
                <input type="text" class="entrada" id="username" name="username" autofocus="autofocus"/>
                <br/><br/>
                <label for="password" id="subtitulo2">Contraseña</label>
                <br/><br/>
                <input type="password" class="entrada" id="password" name="password"/>
                <br/><br/>
                <input type="submit" value="Log In" id="boton"/>
            </form>
            <br/>
        </div>       
    </body>
</html>
